
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

// Variables
@import "variables";

@import "node_modules/font-awesome/scss/font-awesome";

// Bulma
@import "node_modules/bulma/bulma";

// Other SCSS Files
@import "spacing-helpers";


/* GENERAL */
html{
  background-color: $body-background;
}


/* NAVBAR */
.navbar{
  border-top: 2px solid $border-color;
  border-bottom: 1px solid $white-ter;
}

/* SUBNAV */
.subnav{
  background-color: $white;

  &.has-shadow{
    box-shadow: rgba(10, 10, 10, 0.1) 0px 2px 3px;
  }
}